<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ToDo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Todo application (by <a href="https://vk.com/xefilip" target="_blank">Xenia Filippova</a>)</h4>
				</div>
			<div class="card-body">
				<div class="input-group" id='actionPanel1'>
					<div class="input-group-prepend">
						<span id="selectAllAction">
							<button class="btn btn-outline-primary" type="button" v-on:click='selectAll()'>Select all/Unselect all</button>
						</span>
					</div>
					<input type="text" class="form-control" id='input' v-model='input' v-on:keyup.enter='inputHandler()'>
				</div>
				<div id='actionPanel2' v-if='someSelected'>
					<div class="btn-group btn-block">
						<button type='button' class='btn btn-success' id="doneAction" v-on:click='doneAll()'>Done</button>
						<button type='button' class='btn btn-info' id="restoreAction" v-on:click='restoreAll()'>Restore</button>
						<button type='button' class='btn btn-danger' id="removeAction" v-on:click='removeAll()'>Remove</button>
					</div>
				</div>
			</div>
			<ul class="list-group list-group-flush" id='list'></ul>
			<ul class="list-group">
				<li class="list-group-item" v-for='item of list'>
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" :id="item.id" v-model:checked='item.selected'>
						<label :for="item.id" class="form-check-label" :class='{todoDone: item.done}'>{{ item.content }}</label>
						<button style="float: right;" class="btn btn-outline-danger" v-if='item.selected && item.done' v-on:click='restore(item)'>restore</button>
						<button style="float: right;" class="btn btn-outline-danger" v-if='item.selected && item.done' v-on:click='remove(item)'>remove</button>
						<button style="float: right;" class="btn btn-outline-success" v-if='item.selected && !item.done' v-on:click='done(item)'>done</button>
					</div>
				</li>
			</ul>		  	
		</div>
	</div>
	</div>
	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="script.js"></script>
</body>
</html>

